    $accent-color:#2196F3;
    $logo-color:#000;
    $text-color:#212121;
    $desk-color:#757575;
    $main-color:#FFF;
    $outline-everybody-color:#EEE;
    $icon-color:#AFB1B8;
    $footer-link-color: rgba(255, 255, 255, 0.60);
    $footer-and-hero-background:#2F303A;
    $button-before-and-our-section-bg:#F5F4FA;
    $header-line:#ECECEC;
    $footer-icon-bg:rgba(255, 255, 255, 0.1);
    $whereby-desk-bg-color:rgba(47, 48, 58, 0.80);
    $backdrop-overlay-color:rgba(0, 0, 0, 0.20);
    $modal-close-color:rgba(0, 0, 0, 0.10);
    $modal-input-textarea-outline-color:rgba(33, 33, 33, 0.2);
    $modal-input-textarea-text-color:rgba(117, 117, 117, 0.5);
    $modal-btn-hover-color:#188CE8;
    $footer-input-text-color:rgba(255, 255, 255, 0.60);
    $footer-input-outline-color:rgba(255, 255, 255, 0.30);
    $everybody-desk-bg-color:rgba(33, 150, 243, 0.90);