.attention {
  padding: 60px 0;

  @media screen and (min-width: 1200px){
    padding-top: 94px;
    padding-bottom: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width: 768px){
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item::before {
    content: "";
    display: block;
    margin-bottom: 30px;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    background-color: $button-before-and-our-section-bg;
    background-image: url(../img/mobile/mobile-antena1x@.webp);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/mobile/mobile-antena@2x.webp);
    }
    @media screen and (min-width:768px) {
      width: 354px;
      background-image: url(../img/tablet/tablet-antena@1x.webp);
      @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/tablet/tablet-antena@2x.webp);
    }
  }
  @media screen and (min-width:1200px) {
    width: 270px;
    background-image: url(../img/pc/pc-antena@1x.webp);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/pc/pc-antena@2x.webp);
    }
  }
}
  &__item:nth-child(2)::before {
    background-image: url(../img/mobile/mobile-clock1x@.webp);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/mobile/mobile-clock@2x.webp);
    }
    @media screen and (min-width:768px) {
      background-image: url(../img/tablet/tablet-clock@1x.webp);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../img/tablet/tablet-clock@2x.webp);
    }
  }
  @media screen and (min-width:1200px) {
    background-image: url(../img/pc/pc-clock@1x.webp);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/pc/pc-clock@2x.webp);
    }
  }
}

  &__item:nth-child(3)::before {
    background-image: url(../img/mobile/mobile-laptop1x@.webp);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/mobile/mobile-laptop@2x.webp);
    }
    @media screen and (min-width:768px) {
      background-image: url(../img/tablet/tablet-laptop@1x.webp);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../img/tablet/tablet-laptop@2x.webp);
      }
    }
    @media screen and (min-width:1200px) {
      background-image: url(../img/pc/pc-laptop@1x.webp);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../img/pc/pc-laptop@2x.webp);
      }
    }
  }

  &__item:nth-child(4)::before {
    background-image: url(../img/mobile/mobile-astronaut1x@.webp);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../img/mobile/mobile-astronaut@2x.webp);
    }
    @media screen and (min-width:768px) {
      background-image: url(../img/tablet/tablet-astronaut@1x.webp);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../img/tablet/tablet-astronaut@2x.webp);
      }
    }
    @media screen and (min-width:1200px) {
      background-image: url(../img/pc/pc-astronaut@1x.webp);
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../img/pc/pc-astronaut@2x.webp);
      }
    }
  }

  &__title {
    color: $text-color;
    width: 100%;
    text-align: center;
    // font-size: 14px;
    // font-weight: 700;
    // line-height: 1.14;
    // letter-spacing: 0.42px;
    @include font-style ($fSize:14px);
    text-transform: uppercase;
    margin-bottom: 10px;

    @media screen and (min-width: 768px){
      text-align: start;
      width: 354px;
    }

    @media screen and (min-width: 1200px){
      width: 270px;
    }
  }

  &__text {
    color: $desk-color;
    width: 100%;
    // font-size: 14px;
    // font-weight: 400;
    // line-height: 1.71;
    // letter-spacing: 0.42px;
    @include font-style($fWeight:400, $fHeight:1.71);

    @media screen and (min-width: 768px){
      width: 354px;
    }

    @media screen and (min-width: 1200px){
      width: 270px;
    }
  }
}
