.everybody {
  padding: 60px 0;

  @media screen and (min-width: 1200px){
    padding: 94px 0;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 15px;
    margin-bottom: 40px;

    @media screen and (min-width: 768px){
      justify-content: center;
      flex-wrap: nowrap;
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px){
      margin-bottom: 50px;
    }
  }

  &__btn {
    color: $text-color;
    @include font-style($fWeight:500, $fHeight:1.62, $fSpacing:0.48px);
    padding: 6px 22px;
    border-radius: 4px;
    background-color: $button-before-and-our-section-bg;
    transition-property: background-color color box-shadow;
    @extend %transition;

    &:is(:hover, :focus) {
      background-color: $accent-color;
      color: $main-color;
      box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    }
  }

  &__list {
    @include flexbox ($align: stretch,$justify: flex-start,$direction: column);

    @media screen and (min-width: 768px){
      @include flexbox ($align: stretch, $justify: flex-start, $wrap: wrap);
    }
  }

  &__item {
    transition-property: box-shadow;
    @extend %transition;

    &:is(:hover, :focus) {
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
      cursor: pointer;
      .everybody__desk {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @media screen and (min-width: 768px){
      flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px){
          flex-basis: calc((100% - 60px) / 3);
    }
  }

  &__wrap {
    position: relative;
    overflow: hidden;
  }

  &__desk {
    color: $main-color;
    // font-size: 18px;
    // font-weight: 400;
    // line-height: 1.55;
    // letter-spacing: 0.54px;
    @include font-style($fSize: 18px, $fWeight: 400, $fHeight: 1.55, $fSpacing:0.54px);
    background-color: $everybody-desk-bg-color;
    width: 100%;
    height: 100%;
    padding: 77px 24px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(100%);
    transition-property: transform opacity;
    @extend %transition;
    pointer-events: none;


    @media screen and (min-width: 768px){
      padding: 49px 24px 77px;
    }

    @media screen and (min-width: 1200px){
      padding: 63px 24px;
    }
  }

  &__wraper {
    padding: 20px 24px;
    outline: 1px solid $outline-everybody-color;

    @media screen and (min-width: 768px){
      padding: 20px 24px 56px;
    }

    @media screen and (min-width: 1200px){
      padding: 20px 24px;
    }
  }

  &__wrapper {
    padding: 20px 24px;
    outline: 1px solid $outline-everybody-color;
  }

  &__title {
    color: $text-color;
    // font-size: 18px;
    // font-weight: 700;
    // line-height: 2;
    // letter-spacing: 1.08px;
    @include font-style ($fSize:18px, $fHeight:2, $fSpacing:1.08px);
    margin-bottom: 4px;
  }

  &__text {
    color: $desk-color;
    // font-size: 16px;
    // font-weight: 400;
    // line-height: 1.87;
    // letter-spacing: 0.48px;
    @include font-style ($fWeight:400, $fHeight:1.87, $fSpacing:0.48px);
  }
}
