.everybody{
    padding-top: 94px;
    padding-bottom: 94px;
}

.everybody-items{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.everybody-btn{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    padding: 6px 22px;
    border-radius: 4px;
    background-color: var(--button-before-and-our-section-bg);
    transition-property: background-color color box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.everybody-btn:is(:hover,:focus){
    background-color: var(--accent-color);
    color: var(--main-color);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.everybody-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.everybody-item{
    flex-basis: calc((100% - 60px) / 3);
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.everybody-wrap{
    position: relative;
    overflow: hidden;
}

.everybody-desk{
    color: var(--main-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.54px;
    background-color: var(--everybody-desk-bg-color);
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(100%);
    transition-property: transform opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}

.everybody-item:is(:hover,:focus){
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    .everybody-desk{
        transform: translateY(0);
        opacity: 1;
    }
}

.everybody-wrapper{
    padding: 20px 24px;
    outline: 1px solid var(--outline-everybody-color);
}

.everybody-title{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2.00;
    letter-spacing: 1.08px;
    margin-bottom: 4px;
}

.everybody-text{
    color: var(--desk-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.48px;
}